In [ ]:
#task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#task 2
a_tup = (-10, 20, 30, 40)
new = a_tup[2:len(a_tup)-2]
print(new)

()

In [ ]:
#task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print("Size of the tuple is: {}".format(len(book_info)))

for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task 4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for i in range(len(book_info)):
  print("{} won the '{}' category with {} votes".format(book_info[i][1],book_info[i][0],book_info[i][2]))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

for i in book_info:
  a,b,c = i
  print("{} won the '{}' category with {} votes".format(b,a,c))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#task 5
tup_a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user = int(input())
count = 0
for i in range(len(tup_a)):
  if tup_a[i] == user:
    count += 1
print("{} appears {} times in the tuple".format(user,count))

8
8 appears 4 times in the tuple

In [ ]:
tup_a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user = int(input())
count = 0
for i in tup_a:
  if i == user:
    count += 1
print("{} appears {} times in the tuple".format(user,count))

8
8 appears 4 times in the tuple

In [ ]:
#task 6
tup_a = (10, 20, 30, 40, 50, 60)
new = []
for i in range(len(tup_a)):
  new.append(tup_a[i])

new1 = []
for j in range(-1,-len(new)-1,-1):
  new1.append(new[j])

final = tuple(new1)
print(final)

(60, 50, 40, 30, 20, 10)

In [ ]:
tup_a = (10, 20, 30, 40, 50, 60)
new = []
for i in tup_a:
  new.append(i)

new1 = []
for j in range(-1,-len(new)-1,-1):
  new1.append(new[j])


print(tuple(new1))

(60, 50, 40, 30, 20, 10)

In [ ]:
#task 7
dict_a = {'Harry':15, 'Draco':8, 'Nevil':19}
dict_b = {'Ginie':18, 'Luna': 14}
marks = {}
marks.update(dict_a)
marks.update(dict_b)
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
dict_a = {'Harry':15, 'Draco':8, 'Nevil':19}
dict_b = {'Ginie':18, 'Luna': 14}
marks = {}
for key,value in dict_a.items():
  marks[key] = value
for key,value in dict_b.items():
  marks[key] = value
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task 8
items = int(input())
dic_a = {}
for i in range(items):
  key = input()
  value = int(input())
  dic_a[key] = value
print(dic_a)

sum = 0
for value in dic_a.values():
  sum += value
avg = sum/items
print("Average is {}.".format(int(avg)))

3
Jon
100
Dan
200
Ron
300
{'Jon': 100, 'Dan': 200, 'Ron': 300}
Average is 200.

In [ ]:
#task 8(using split function)
str1 = input()
lst = str1.split(",")
new_dict = {}
for i in lst:
  key,value = tuple(i.split(":"))
  new_dict[key] = int(value)

sum = 0
count = 0
for value in new_dict.values():
  sum += value
  count += 1
avg = sum//count
print("Average is {}.".format(avg))

Jon:100, Dan:200, Rob:300
Average is 200.

In [ ]:
#task 9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
user = int(input())
new = {}
for key,value in exam_marks.items():
  if value>=user:
    new[key] = value
print(new)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task 10
dic_a = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = 0
genre = ''
for key,value in dic_a.items():
  if value>max:
    max = value
    genre = key
print("The highest selling book genre is '{}' and the number of books sold are {}.".format(genre,max))

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#task 11
user = input("Enter a string input: ")
new = {}
for i in user:
  i = i.lower()
  if 97<= ord(i) <= 122:
    if i not in new:
      new[i] = 1
    else:
      new[i] += 1
print(new)

Enter a string input: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
user = input().lower()
new = {}
for i in user:
  if 97<= ord(i) <=122:
    if i not in new:
      new[i] = 1
    else:
      new[i] += 1
print(new)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task 12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for i in dict_1.values():
  for j in i:
    count += 1
print(count)

9

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for value in dict_1.values():
  for i in value:
    count += 1
print(count)

9

In [ ]:
#task 13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
new = {}
for i in list_1:
  key,value = i
  if key not in new:
    new[key] = [value]
  else:
    new[key].append(value)
print(new)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#task 15
lst1 = [(2, 3), (4, 5), (6, 7), (2, 8)]
result = []
for i in lst:
  result.append(i[0]*i[1])
print(result)

[6, 20, 42, 16]

In [ ]:
#task 16
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user_input = input("Enter a value: ")
new_tuple = tuple([lst[:-1] + [user_input] for lst in a_tuple])
print(new_tuple)

Enter a value: abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [ ]:
#task 19
lst1 = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
new = []
for i in lst1:
  if i[1] not in new:
    new.append(i[1])
  else:
    pass

new1 = []
dict1 = {}
for j in range(len(new)):
  for k in range(len(lst1)):
    if new[j] == lst1[k][1]:
      new1.append(lst1[k])
      dict1[new[j]] = new1
  new1 = []

new_dict = {}
for key,value in dict1.items():
  if len(value)>1:
    new_dict[key] = value

for key,value in dict1.items():
  if len(value) == 1:
    new_dict[key] = value

print(new_dict)

{80: [(20, 80), (31, 80)], 11: [(88, 11), (27, 11)], 22: [(1, 22)]}

In [ ]:
#1
new = []
for i in range(6):
  val = input()
  new.append(val)

user = input()
print(new)

count = None
count = -1
for j in range(len(new)):
  if new[j] == user:
    count = j
    break
if count == -1:
  print("NOT FOUND")
print(count)

4
Blue
E
True
Blue
7
Blue
['4', 'Blue', 'E', 'True', 'Blue', '7']
1

In [ ]:
#2
new = []
while True:
  user = input()
  if user != "END":
    new.append(user)
  elif user == "END":
    break
print(new)

user = input()
index = int(input())
new[index] = user
print(new)

3
4
5
7
True
HORSE
END
['3', '4', '5', '7', 'True', 'HORSE']
Orange
2
['3', '4', 'Orange', '7', 'True', 'HORSE']