In [ ]:
#task 1(a)
for count in range(24,-7,-6):
  if count == -6:
    print(count)
  else:
    print(count,end=",")

24,18,12,6,0,-6

In [ ]:
#task 1(b)
for count in range(-10,21,5):
  if count == 20:
    print(count)
  else:
    print(count,end=",")

-10,-5,0,5,10,15,20

In [ ]:
#task 1(c)
for count in range(18,64,9):
  if count == 63:
    print(count)
  else:
    print(count,end=",")

18,27,36,45,54,63

In [ ]:
#task 1(d)
for count in range(18,64,9):
  if count == 63:
    print(-count)
  elif count%2!=0:
    print(-count,end=",")
  else:
    print(count,end=",")

18,-27,36,-45,54,-63

In [ ]:
for count in range(18,64,9):
  if count%2 == 0:
    print(count,end=",")
  else:
    if count == 63:
      print(-count)
    else:
      print(-count,end=",")

18,-27,36,-45,54,-63

In [ ]:
#task 2
car = input("Enter your favorite car name: ")
num = int(input("Enter num: "))
for count in range(num):
  print(car)

Enter your favorite car name: toyota
Enter num: 2
toyota
toyota

In [ ]:
#task 3
sum = 0
for count in range(0,601):
  if count%7==0 and count%9 ==0:
    sum = sum + count
print(sum)

2835

In [ ]:
#task 4
sum = 0
for count in range(0,601):
  if count%7==0 and count%9!=0 or count%7!=0 and count%9==0:
    sum += count
print(sum)

39814

In [ ]:
#task 5
for count in range(10,51):
  if count%2!=0:
    print(count,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#task 6
n = int(input("Enter n: "))
y = 0
for count in range(1,n+1):
  if count%2 == 0:
    y = y-count**2
  else:
    y = y+count**2
print(y)

Enter n: 5
15

In [ ]:
#task 7
sum = 0
total = 0
for count in range(0,10):
  num = int(input("Enter Number: "))
  if num%2!=0:
    sum = sum + num
    total +=1
avg = sum/total
print("The total of the odd numbers is {} and their average is {}".format(sum,avg))

Enter Number: 1
Enter Number: 2
Enter Number: 3
Enter Number: 4
Enter Number: 5
Enter Number: 6
Enter Number: 7
Enter Number: 8
Enter Number: 9
Enter Number: 10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#task 8
N = int(input("Enter n: "))
sum = 0
for count in range(N):
  if count%7==0:
    sum = sum + count
print(sum)

Enter n: 75
385

In [ ]:
#task 9
sum = 0
for count in range(0,5):
  num = int(input("Enter numbers: "))
  sum += num
  print(sum)

Enter numbers: 1
1
Enter numbers: 2
3
Enter numbers: 3
6
Enter numbers: 4
10
Enter numbers: 5
15

In [ ]:
#task 10
num = int(input("Enter number: "))
while num>0:
  if num//10==0:
    print(num%10)
  else:
    print(num%10,end=",")
  num = num//10

Enter number: 32768
8,6,7,2,3

In [ ]:
#task 11
num = int(input("Enter number: "))
count = 0
while num>0:
  count +=1
  num = num//10
print(count)

Enter number: 9876
4

In [ ]:
#task 12
num = int(input("Enter a number: "))
count = 0
num1 = num
while num>0:
  num = num//10
  count+=1

while num1>0:
  div = 10**(count-1)
  if 0<=num1<=9:
    print(num1//div)
  else:
    print(num1//div,end=",")
  num1 = num1%div
  count -=1

Enter a number: 32768
3,2,7,6,8

In [ ]:
#task 13
num = int(input())
count = 0
for div in range(1,num+1):
  if num%div == 0:
    print(div)
    count +=1
print("Total {} divisors.".format(count))

121
1
11
121
Total 3 divisors.

In [ ]:
#task 13
num = int(input("Enter a number: "))
count = 0
for div in range(1,num+1):
  if num%div==0:
    if div == num:
      print(div)
    else:
      print(div,end=",")
    count +=1
print("Total {} divisors.".format(count))

Enter a number: 543
1,3,181,543
Total 4 divisors.

In [ ]:
#task 13(using while loop)
num = int(input("Enter your desired number: "))
divisor = 1
counter = 0
while divisor<=num:
  if num%divisor == 0:
    if divisor == num:
      print(divisor)
    else:
      print(divisor,end=",")
    counter+=1
  divisor +=1
print("Total {} divisors.".format(counter))

Enter your desired number: 6
1,2,3,6
Total 4 divisors.

In [ ]:
#task 14
num = int(input("Enter a number: "))
sum = 0

for count in range(1,num+1):
  if num%count==0:
    sum += count
sum1 = sum - num
if sum1 == num:
  print(num,"is a perfect number.")
else:
  print(num,"is not a perfect number.")

Enter a number: 6
6 is a perfect number.

In [ ]:
#task 15
num = int(input("Enter a number: "))
count = 0
for div in range(1,num+1):
  if num%div==0:
    count+=1
if count == 2:
  print(num,"is a prime number")
else:
  print(num,"is not a prime number")

Enter a number: 2
2 is a prime number

In [ ]:
#task 15(using while loop)
num = int(input("Enter a number: "))
divisor = 1
count = 0
while divisor<=num:
  if num%divisor == 0:
    count+=1
  divisor+=1
if count == 2:
  print(num,"is a prime number.")
else:
  print(num,"is not a prime nnumber.")

Enter a number: 6
6 is not a prime nnumber.

In [ ]:
#task 16
end = int(input("Enter your end number: "))
max = None
min = None
start = 0
sum = 0
while start<end:
  num = int(input("Enter your desired number: "))
  if start == 0:
    max = num
    min = num
  elif min>num:
    min = num
  elif max<num:
    max = num
  sum = sum + num
  start +=1
avg = sum/end
print("Maximum ",max)
print("Minimum ",min)
print("Average ",avg)

Enter your end number: 5
Enter your desired number: 10
Enter your desired number: 4
Enter your desired number: -1
Enter your desired number: -100
Enter your desired number: 1
Maximum  10
Minimum  -100
Average  -17.2

In [ ]:
#task 16(using for loop)
start = 1
max = None
min = None
sum = 0
end = int(input())
for i in range(start,end+1):
  num = int(input("Enter number: "))
  if i == 1:
    max = num
    min = num
  elif min>num:
    min = num
  elif max<num:
    max = num
  sum += num
avg = sum/end
print("Maximum ",max)
print("Minimum ",min)
print("Average ",avg)

5
Enter number: 10
Enter number: 4
Enter number: -1
Enter number: -100
Enter number: 1
Maximum  10
Minimum  -100
Average  -17.2

In [ ]:
#task 17
N = int(input("Enter N: "))
for row in range(0,N):
  for column in range(0,N):
    print("+",end="")
  print()

Enter N: 5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#task 17(using while loop)
n = int(input())
start = 1
while start<=n:
  column = 1
  while column<=n:
    print("+",end="")
    column +=1
  print()
  start +=1

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#task 18
N = int(input("Enter N: "))
M = int(input("Enter N: "))
for row in range(1,N+1):
  for column in range(1,M+1):
    print(column,end="")
  print()

Enter N: 4
Enter N: 6
123456
123456
123456
123456

In [ ]:
#task 19
N = int(input("Enter a number: "))
for row in range(1,N+1):
  for column in range(1,row+1):
    print(column,end="")
  print()

Enter a number: 5
1
12
123
1234
12345

In [ ]:
#task 25
num = int(input("Enter a range: "))
num1 = 0
num2 = 1
sum = 0
for i in range(0,num):
  if sum>num:
    break
  else:
    print(sum,end = " ")
    num1 = num2
    num2 = sum
    sum = num1 + num2

Enter a range: 10
0 1 1 2 3 5 8