In [ ]:
#task 1
user = int(input())

def even_checker(num):
  if num%2 == 0:
    print("Even!!")
  else:
    print("Odd!!")

even_checker(user)

5
Odd!!

In [ ]:
#task 2
def fibonacci(num):
  num1 = 0
  num2 = 1
  sum = 0
  for i in range(0,num+1):
    if sum>num:
      break
    else:
      print(sum,end = " ")
      num1 = num2
      num2 = sum
      sum = num1 + num2
user = int(input())
fibonacci(user)

10
0 1 1 2 3 5 8

In [ ]:
#task 3
user = int(input())

def foo_moo(num):
  if num%2 == 0:
    print("Foo")
  elif num%3 == 0:
    print("Moo")
  elif num%2 == 0 and num%3 == 0:
    print("FooMoo")
  else:
    print("Boo")
foo_moo(user)

5
Boo

In [ ]:
user = int(input())

def foo_moo(num):
  if num%2 == 0:
    return "Foo"
  elif num%3 == 0:
    return "Moo"
  elif num%2 == 0 and num%3 == 0:
    return "FooMoo"
  else:
    return "Boo"
print(foo_moo(user))

5
Boo

In [ ]:
#task 4
user = input()

def function_name(words):
  upper_case = 0
  lower_case = 0
  for i in words:
    if 65<= ord(i) <= 90:
      upper_case += 1
    elif 97<= ord(i) <=122:
      lower_case += 1
  print("No. of Uppercase characters :",upper_case)
  print("No. of Lowercase characters :",lower_case)
function_name(user)

The quick Sand Man
No. of Uppercase characters : 3
No. of Lowercase characters : 12

In [ ]:
#task 5
age = int(input("Enter age: "))
salary = int(input("Enter salary: "))
job = input("Enter job: ")

def calculate_tax(a,b,c):
  tax = 0
  if c == "president" or c == "PRESIDENT":
    tax = 0
    print(tax)
  elif a<18:
    tax = 0
    print("tax")
  elif b<10000:
    tax = 0
    print("tax")
  elif 10000<= b <= 20000:
    tax = b*0.05
    print(tax)
  elif b> 20000:
    tax = b*0.10
    print(tax)
calculate_tax(age,salary,job)

Enter age: 35
Enter salary: 12220000
Enter job: president
0

In [ ]:
age = int(input("Enter age: "))
salary = int(input("Enter salary: "))
job = input("Enter job: ")

def calculate_tax(a,b,c):
  tax = 0
  if c == "president" or c == "PRESIDENT":
    tax = 0
    return tax
  elif a<18:
    tax = 0
    return tax
  elif b<10000:
    tax = 0
    return tax
  elif 10000<= b <= 20000:
    tax = b*0.05
    return tax
  elif b> 20000:
    tax = b*0.10
    return tax
print(calculate_tax(age,salary,job))

Enter age: 20
Enter salary: 18000
Enter job: student
900.0

In [ ]:
#task 6
user = int(input())

def function_name(days):
  year1 = 365
  month1 = 30

  year = days//year1
  remain_year = days%year1
  month = remain_year//month1
  remain_days = remain_year%month1
  print("{} years, {} months and {} days".format(year,month,remain_days))

function_name(user)

4330
11 years, 10 months and 15 days

In [ ]:
#task 7
user = int(input())

def show_palindrome(num):
  emp_str = ""
  for i in range(1,num):
    emp_str += str(i)
  rev_str = emp_str[::-1]
  final = emp_str + str(num) + rev_str
  return final
print(show_palindrome(user))

5
123454321

In [ ]:
#task 7(another way)
user = int(input())

def show_palindrome(num):
  new = ''
  for i in range(1,num+1):
    new += str(i)
  final = new + new[-2:-len(new)-1:-1]
  return final
print(show_palindrome(user))

5
123454321

In [ ]:
#task 8
user = int(input())
def show_palindrome_triangle(num):
  for i in range(1,num+1):
    print(" "*2*(num-i),end="")
    new=str(show_palindrome(i))
    for j in new:
      print(j,end=" ")
    print()
show_palindrome_triangle(user)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#task 8(alternate)
def show_palindromic_triangle(num):
  for i in range(0,num+1):
    for j in range(i,num+1):
      print(" ",end=" ")
    for j in range(1,i+1):
      print(j,end=" ")
    for j in range(i-1,0,-1):
      print(j,end=" ")
    print()
user = int(input())
show_palindromic_triangle(user)

5

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
#task 9(main)
def area_circumference_generator(num):
  import math
  area = math.pi*user**2
  circum = 2*math.pi*user
  return area,circum
user = float(input())
tup = area_circumference_generator(user)
area,circum = tup
print(tup)
print("Area of the circle is {} and circumference is {}".format(area,circum))

1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task 9
user = float(input())

def area_circumference_generator(num):
  new = []
  import math
  area = math.pi*num**2
  circumference = 2*math.pi*num
  new.append(area)
  new.append(circumference)
  new = tuple(new)
  print(new)
  print("Area of the circle is {} and circumference is {}".format(area,circumference))
area_circumference_generator(user)

1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task 10
def make_square(tup):
  dict1 = {}
  for i in range(tup[0],tup[1]+1):
    dict1[i] = i**2
  return dict1

make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#task 11
def rem_duplicate(tup):
  list1=[]
  for i in range(len(tup)):
    if i==0:
      list1.append(tup[i])
    else:
      if tup[i] in list1:
        continue
      else:
        list1.append(tup[i])
  a_tuple=tuple(list1)
  return a_tuple
x=rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))
print(x)

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#task 12
def list_max(list_1):
  list_name=[]
  removed=0
  for i in list_1:
    if list_name.count(i)<2:
      list_name.append(i)
    else:
      removed+=1
  print("Removed:",removed)
  return list_name
list_max([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#task 13
def operation(op,num1,num2):
  if op=='"+"':
    return num1+num2
  elif op=='"-"':
    return num1-num2
  elif op=='"*"':
    return num1*num2
  elif op=='"/"':
    return num1/num2
o=input("Enter operator: ")
n1=float(input("Enter num1: "))
n2=float(input("Enter num2: "))
x=operation(o,n1,n2)
print(x)

Enter operator: "+"
Enter num1: 10
Enter num2: 20
30.0

In [ ]:
#task 14
def func(s,p):
  st=""
  nst=""
  for i in range(1,len(sen)):
    if i%pos==0:
      st+=sen[i]
    else:
      nst+=sen[i]
  return sen[0]+nst+st
sen=input("Enter a sentence: ")
pos=int(input("Enter position: "))
print(func(sen,pos))

Enter a sentence: I love programming.
Enter position: 3
I lveprgrmmngo oai.

In [ ]:
#task 15
def add_to_cart(product,location="Dhanmondi"):
  groceries={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  sum=0
  for i in product:
    sum+=groceries[i]
  if location=="Dhanmondi":
    sum+=30
  else:
    sum+=70
  return sum
product=input("Enter items list: ")
product=product[1:len(product)-1:]
lst=product.split(", ")
nlst=[]
for i in lst:
  v=i[1:len(i)-1:]
  nlst.append(v)
print(add_to_cart(nlst,"Mohakhali"))

Enter items list: ["Rice", "Beef", "Rice"]
790